<div class="container-fluid">
    <hr class="msa-no-mrgs-btt">
    <div class="row">
        <div class="col-2 text-center">
          <h3>Mis Aliados</h3>
        </div>
      <div class="col-10">
          <a [routerLink]="[rutaRegistrar]" [routerLinkActive]="['btn', 'btn-outline-secondary']" class="btn btn-link" href="">Registar a Independiente</a>
          <a [routerLink]="[rutaListar]" [routerLinkActive]="['btn', 'btn-outline-secondary']" class="btn btn-link" href=""> Ver listado</a>
      </div>
    </div>
    <div class="row"><div class="col-12"><hr class="msa-no-mrgs"></div></div>
  <router-outlet></router-outlet>
</div>
